{% load common_tags %}
{% load admin_urls %}
{% load url from future %}
{% load registered_subject_dashboard_tags %}

<table>
<thead>
<th></th>
<th>#</th>
<th>Title</th>
<th>Status</th>
<th>Due</th>
<th>User</th>                        
<th>Created/Modified</th>                        
<th>Comment</th>        
<th>Browse</th>                        
<th>Audit</th>                
</thead>
<tbody>
{% if not crf_entries %}
    <tr class="{% cycle 'row1' 'row2' %}"><td colspan="12"></td></tr>
{% else %}
    {% for scheduled_entry in crf_entries %}
        {# if scheduled_entry.entry.required #}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td><span {% if scheduled_entry.status == UNKEYED %}style="background:red;"{% endif %}>&nbsp;</span></td>
                <td>{{ forloop.counter }}</td>
                <td>
                {% if scheduled_entry.model_url %}
                    <A href="{{ scheduled_entry.model_url }}?next={{ subject_dashboard_url }}&dashboard_type={{ dashboard_type }}&dashboard_model={{ dashboard_model }}&dashboard_id={{ dashboard_id }}&show=forms&registered_subject={{ registered_subject }}&{{visit_attr}}={{ visit_model_instance.pk }}&visit_attr={{visit_attr}}&entry_order={{ scheduled_entry.entry_order }}&group_title={{ scheduled_entry.group_title }}">{{ scheduled_entry.label }}</A>
                {% else %}                
                    {{ scheduled_entry.label }}
                {% endif %}
                </td>                
                <td>
                  {% if scheduled_entry.meta_data_model_change_url %}
                    <A href="{{ scheduled_entry.meta_data_model_change_url }}?next={{ subject_dashboard_url|default:"dashboard_url" }}&dashboard_type={{ dashboard_type }}&dashboard_model={{ dashboard_model }}&dashboard_id={{ dashboard_id }}&show=forms&registered_subject={{ registered_subject }}&entry={{ scheduled_entry.scheduled_entry.pk }}&appointment={{ appointment.pk }}">{{ scheduled_entry.status }}</A></td>
                  {% else %}
                    {{ scheduled_entry.status }}
                  {% endif %}
                <td>{{ scheduled_entry.due_datetime|date:"Y-m-d" }}</td>
                <td>{{ scheduled_entry.user_created|default:'' }}{% if scheduled_entry.user_modified %}/{{ scheduled_entry.user_modified }}{% endif %}</td>            
                <td>{{ scheduled_entry.created|date:"Y-m-d H:i"  }}{% if scheduled_entry.modified %}/{{ scheduled_entry.modified|date:"Y-m-d H:i"  }}{% endif %}</td>            
                <td>{{ scheduled_entry.entry_comment|default:'' }}</td>        
                <td>
                {% if scheduled_entry.databrowse_url %}
                    <A href="{{ scheduled_entry.databrowse_url }}?next={{ subject_dashboard_url|default:"dashboard_url" }}&dashboard_type={{ dashboard_type }}&dashboard_model={{ dashboard_model }}&dashboard_id={{ dashboard_id }}&show=forms">Browse</A>
                {% endif %}
                </td>
                <td>
                {% if scheduled_entry.audit_trail_url %}
                  <A href="{{ scheduled_entry.audit_trail_url }}?next={{ subject_dashboard_url|default:"dashboard_url" }}&app_label={{ app_label }}&dashboard_type={{ dashboard_type }}&dashboard_model={{ dashboard_model }}&dashboard_id={{ dashboard_id }}&show=forms">Audit trail {{ dashboard_model }}</A>
                {% endif %}
                </td>
            </tr>
         {# endif #}
    {% endfor %}
{% endif %}
</tbody>
</table>
