{% extends "edc_base_site.html" %}
{% load common_tags %}
{% load admin_urls %}

{% block content_title %}{% if title %}<h4>{{ title }}</h4>{% endif %}{% endblock %}

{% block content %}

    {% block section_navigation %}
        {% if sections %}
            <div id="section_navbar">
            <ul>
            {% for section in sections %}
                <li class="{% if selected_section == section.0 %}selected{% else %}{% endif %}">
                <A name="{{section.0}}" href="{% url 'section_index_url' section.0 %}">{{section.1}}</A>
                </li>
            {% endfor %}
            {% comment %}
            	<li>
                  <a href="section/analytics/reports/">Analytics</a>
                </li>
            {% endcomment %}
            </ul>&nbsp;
            </div>
        {% endif %}
    {% endblock section_navigation %}
    
    {% block warnings %}{% endblock %}
    
    {% block section_title %}{% endblock %}
    
    {% block section_links %}{% endblock%}
    
    {% block top_search_label %}{% endblock%}
    
    {% block section_tiles %}{% endblock %}
    
    {% block other_section_links %}{% endblock%}
    
    {%block dashboard %}{% endblock %}

{% endblock %}
