{% extends "base_section_administration.html"%}
{% load admin_urls %}
{% load url from future %}

{% block section_title%}<H5>Site Administration</H5>{%endblock%}

{% block admin_sections %}
    <ul>
    <li><A href="/admin/">All sections</A>
    </ul>
{% endblock admin_sections %}

{% block users_and_settings %}
    <H5>Users and settings</H5>
    <ul>
    <li><A href="{% url 'admin:auth_user_changelist' %}">User Management</A></li>
    <li><A href="{% url 'admin:auth_group_changelist' %}">Group Management</A></li>
    </ul>
{% endblock users_and_settings %}

{% block device_sync %}
  {% comment %}if you don't want to see this section, override it in the child template {% endcomment %}
  <H5>Device Synchronization</H5>
  <ul>
  <li><A href="{% url 'sync_index_url' %}">Synchronize devices with Community Server (Return)</A></li>
  {% block device_sync_export %}
      <li><A href="{% url 'sync_export_outgoing_url' %}">Export outgoing transactions to file</A></li>
  {% endblock device_sync_export %}
  {% block device_inspector %}{% endblock device_inspector %}
  </ul>
{% endblock device_sync %}

{% block edc_birt_reports %}
    {% if 'edc.core.bhp_birt_reports' in installed_apps %}
        <H5>Reports</H5>
        <ul>
        <li><A href="/reports/list/">Generate a Report</A></li>
        </ul>
    {% endif %}
{% endblock edc_birt_reports %}

{% block lab_clinic_api %}
    {% if 'edc.lab.lab_clinic_api' in installed_apps %}
        <H5>Lab</H5>
        <ul>
        <li><A href="/admin/{{protocol_lab_section}}/">Requisitions, Aliquots and Packing Lists</A></li>
        <li><A href="/admin/lab_clinic_api/">Results</A></li>
        {% if 'lis.labeling' in installed_apps %}
            <li><A href="/admin/labeling/">Label Printers and Templates</A></li>
        {% endif %}
        </ul>
    {% endif %}
{% endblock lab_clinic_api %}

{% block ph_dispenser %}
    {% if 'edc.core.ph_dispenser' in installed_apps %}
        <h5>Pharmacy</h5>
        <ul>
        <li><A href="/admin/ph_dispenser/">Dispensings</A>
        </ul>
    {% endif %}
{% endblock ph_dispenser %}

{% block visit_schedule %}
    {% if 'edc_visit_schedule' in installed_apps%}
        <h5>Data Collection Schedule</h5>
        <ul>
            <li><A href="{% url 'admin:visit_schedule_membershipform_changelist' %}">Membership forms</A>
            <li><A href="{% url 'admin:visit_schedule_schedulegroup_changelist' %}">Schedule groups</A>
            <li><A href="{% url 'admin:visit_schedule_visitdefinition_changelist' %}">Visit definitions</A>
            <li><A href="{% url 'admin:entry_entry_changelist' %}">Entry</A>, <A href="{% url 'admin:entry_labentry_changelist' %}">Lab Entry</A> and <A href="{% url 'admin:entry_requisitionpanel_changelist' %}">Requisition Panels</A>
            <li><A href="{% url 'admin:entry_meta_data_scheduledentrymetadata_changelist' %}">Scheduled Meta Data</A> and <A href="{% url 'admin:entry_meta_data_requisitionmetadata_changelist' %}">Requisition Meta Data</A>
        </ul>
    {% endif %}
{% endblock visit_schedule %}

{% block edc_import %}
    {% if 'edc.import' in installed_apps%}
        <h5>Import Data</h5>
        <ul>
            <li><A href="{% url 'admin:import_uploadtransactionfile_changelist' %}">Upload transaction file</A>
            <li><A href="{% url 'admin:import_uploadexportreceiptfile_changelist' %}">Upload export receipt file</A>
        </ul>
    {% endif %}
{% endblock edc_import %}

{% block edc_export %}
    {% if 'edc.export' in installed_apps%}
        <h5>Export Data</h5>
        <ul>
            <li><A href="{% url 'admin:export_exporthistory_changelist' %}">Export History</A>
            <li><A href="{% url 'admin:export_exporttransaction_changelist' %}">Export Transactions</A>
            <li><A href="{% url 'admin:export_exportreceipt_changelist' %}">Export Receipts</A>
            <li><A href="{% url 'admin:export_exportplan_changelist' %}">Export Plans</A>
            <li><A href="{% url 'admin:notification_notificationplan_changelist' %}">Notification Plans</A>
            <li><A href="{% url 'admin:notification_notification_changelist' %}?o=-5.2">Notifications</A>
        </ul>
    {% endif %}
{% endblock edc_export %}

{% block other_section_links %}{% endblock %}
