{% extends "section_index.html"%}

{% block section_links %}
    <table border=1 >
    <tr>
    <td>
        <table >
        <thead><th colspan="2">Subject Consents</th></thead>
        <tbody>
        <tr>
        <td>
        <form method="GET" action="{{ add_model_admin_url }}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ section_url }}">
        <input type="hidden" name="section_name" value="{{ section_name }}">
        <input type="hidden" name="search_label" value="{{ search_label }}">                
        <input type="submit" value="{{ add_search_model_label }}"  />
        </form>
    </td>
        </tbody>
        </table>
    </td>    
    
    <td>
        <table bgcolor="LightYellow">
        <thead><th colspan="4">Search Subject Consents by:</th></thead>
        <tr>
            <td>
            <form method="GET" action="{% url section_search_url section_name=section_name search_label='word' %}">
            <input type="submit" value="word" class="default" />
            </form>
            </td>
            <td>
        </tr>
        </table>
    </td>
    </tr>
    </table>


{% endblock %}

{% block top_search_label %}

    {% if search_result.object_list %}
        <h3>Most recent (top) {{ search_result.object_list.count }} {{search_label|capfirst}}{{ search_result.object_list|pluralize }}</h3>
        <i><small>Showing top {{ search_result.object_list.count }} result{{ search_result.object_list|pluralize }} only. Use search to see more.</small></i>
        {% include top_result_include_file %}
    
    {% endif %}

{% endblock%}

{% block other_section_links %}
</div>
{% endblock%}
