{% load tz %}
	<div class="panel panel-default">
			<div class="panel-heading clearfix">
                <h6 class="panel-title">
			     <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
			     {{ appointment.visit_code }} {{ appointment.title|lower|title }}: <span class="text text-muted"><small>Report date: {{ appointment.visit.report_datetime|localtime|date:"Y-m-d H:i" }}</small></span>
				<span class="pull-right">

					{% block schedule_button %}
						<a href="{% url dashboard_url_name subject_identifier=subject_identifier %}"
						   role="button" class="btn btn-sm btn-primary">
							<i class="fa fa-reply fa-fw" aria-hidden="true"></i> <i class="fa fa-calendar fa-fw"></i> Schedule
						</a>
					{% endblock schedule_button %}

                </h6>

				</span>
			</div>
			<div class="table table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<tbody>
					{% for crf in crfs %}
						<tr>
						    <td>
						    <span class="{% if crf.entry_status == NOT_REQUIRED %}text text-muted small{% endif %}">
						          {{ forloop.counter }}
						    </span>
						    </td>
						    <td>
						    	{% if crf.entry_status == NOT_REQUIRED %}
						        	<span class="text text-muted small">
						        	 {{ crf.object.verbose_name|title }}
						        	</span>
						        {% else %}
						        	{{ crf.object.verbose_name|title }}
								    {% if crf.object.user_created %}
									    <p class="text small text-info">
										    {{ crf.object.user_created }} on {{ crf.object.created|date:"Y-m-d  H:i" }}
											{% if crf.object.user_modified %} | {{ crf.object.user_modified }} on {{ crf.object.modified|date:"Y-m-d H:i" }}{% endif %}
										</p>
									{% endif %}
						   		{% endif %}
						    </td>                
						    <td>
						      <span class="pull-right">
						      {% if crf.entry_status != NOT_REQUIRED %}
								<a role="button" class="btn btn-sm {% if crf.object.id %}btn-success{% else %}{% if crf.entry_status == NOT_REQUIRED %} disabled btn-default{% else %}btn-warning{% endif %}{% endif %}" 
										href="{{ crf.object.href }}">
										{% if crf.object.id %}
											<span class="glyphicon glyphicon-pencil"></span> Edit
										{% else %}
											<span class="glyphicon glyphicon-plus"></span> Add
										{% endif %}
								</a>
						        <a role="button" class="btn btn-sm btn-default" 
						        	{% if crf.entry_status == NOT_REQUIRED or not crf.object %} disabled {% endif %} 
						        		href="{{ crf.object.href }}&edc_readonly=1">View</a>
						        <a href="#" role="button" class="btn btn-sm btn-default">Audit</a>
						      {% else%}
						       	<span class="text text-muted small">not required</span>
						      {% endif %}
                              </span>
						    </td>
				  		</tr>
				  	{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
