
<!-- begin dashboard top bar -->


{% load tz %}
{% load edc_base_extras %}
<div class="panel-group">
    <div class="panel panel-{% if navbar_name == 'anonymous' %}danger{% else %}info{% endif %}">
       <div class="panel-heading">

    
        {% if navbar_name == 'anonymous' %}
            <span class="text text-danger"><i class="fa fa-user-secret fa-2x fa-fw"></i></span>
        {% else %}
            <i class="fa fa-user-circle-o fa-2x fa-fw"></i> 

	        <span class="pull-right">
	          <a {% block close_url %}href="#"{% endblock close_url %}
	            role="button" class="btn btn-sm btn-primary">
	                <i class="fa fa-reply fa-1x fa-fw" aria-hidden="true"></i></a>
	        </span>
        {% endif %}
        

      </div>
   </div>
</div>

<!-- end dashboard top bar -->
