/* SECTION TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 10px;
    line-height: 12px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 3px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 10px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}


#keyword_row
{
    list-style-type:none;
    padding:1px;
    float: left;
    overflow:auto;
    margin: 1px;    
}
#keyword_row li
{
    background: #EDF3FE;
    height: auto;
    line-height: auto;
    float: left;
    width: auto;
    display: block;
    border: 0.1em solid #dcdce9;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 2px;
    overflow:auto;
    padding:1px;
}

/* SECTION NAVBAR */
#section_navbar ul
{
list-style-type:none;
margin:2px 2px 10px 2px;
padding:3px;
}

#section_navbar li
{
float: left;
margin: 0 0.15em;
}


#section_navbar li
{
    background: white url(../img/nav-bg.gif) bottom repeat-x;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 8em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: black;
	text-decoration: none;
	text-align: center;
	overflow:hidden;
	padding:1px;
	
}

#section_navbar li a {
   background-image: url(../img/nav-bg.gif) bottom repeat-x;
   text-decoration: none;   
   color: black;

}

#section_navbar li.selected{   
   background-image: url(../img/nav-bg-reverse.gif);
   color: blue;    
}


/* SECTION TILES */

#tile_wrapper {
   width:70%;
   margin:5px auto;
   background-color:white;
   float:left;
   overflow:hidden;
   display: block;
   content: ".";
   }

#add_model_tile {
    float:left;
    width:auto;
    background-color: #F0F0F0  ;
    border: 1px solid #D8D8D8;
    padding: 2px;
    height:30px;
    margin:5px;
    border-radius:5px;
}

#gps_search_tile {
    float:left;
    width:auto;
    background:#FFFFEC;
    border: 1px solid #EEEEAA;
    padding: 2px;
    height:30px;
    margin:5px;
    border-radius:5px;
}

.gps_search_form input[type=text] {
    width: 30px;
    margin-left: 2px;
    margin-right: 1px;
}

#search_tile {
    float:left;
    width:auto;
    background:#FFFFEC;
    border: 1px solid #EEEEAA;
    padding: 2px;
    height:30px;
    margin:5px;
    border-radius:5px;
}

.search_form {
    width: auto;
}

#keyword_row_tile {
    float:left;
    width:auto;
    background:#FFFFEC;
    border: 1px solid #EEEEAA;
    padding: 2px;
    height:30px;
    margin:5px;
    border-radius:5px;
}


#search_result_tile {
    float:left;
    background:#DAF3FF;
    border: 1px solid #AAD8EE;
    padding: 3px;
    margin:5px;
    /*border-radius:10px;*/

}
#appointments_tile {
	width: 490px;
	float:left;
	background:#DAF3FF;
    border: 1px solid #AAD8EE;
    padding: 2px;
    margin:5px;
    border-radius:10px;
    overflow:hidden;
}

#action_items_tile {
	float:right;
	width:220px;
    background:#DAF3FF;
    border: 1px solid #AAD8EE;
	padding: 2px;
	height:90px;
    margin:5px;
    border-radius:10px;
}

#counter_tile {
	float:right;
    width:220px;
    background:#DAF3FF;
    border: 1px solid #AAD8EE;
    padding: 2px;
    height:90px;
    margin:5px;
    border-radius:10px;
}

#empty_tile {
    float: left;
    width:500px;
    padding:10px;
    border-radius:10px;
}