{% extends "base_section.html"%}
{% load admin_urls %}

{% block section_title%}<H5>Site Administration</H5>{%endblock%}

{% block section_links %}

    {% block admin_sections %}{% endblock admin_sections %}
    
    {% block users_and_settings %}{% endblock users_and_settings %}
    
    {% block device_sync %}
    
        {% block device_sync_export %}{% endblock device_sync_export %}
        {% block device_inspector %}{% endblock device_inspector %}
    
    {% endblock device_sync %}
    
    {% block device_dispatch %}{% endblock device_dispatch %}
        
    {% block birt_reports %}{% endblock birt_reports %}
    
    {% block lab_clinic_api %}{% endblock lab_clinic_api %}
    
    {% block ph_dispenser %}{% endblock ph_dispenser %}
    
    {% block visit_schedule %}{% endblock visit_schedule %}
    
    {% block edc_meta_data %}{% endblock edc_meta_data %}
    
    {% block edc_import %}{% endblock edc_import %}
    
    {% block edc_export %}{% endblock edc_export %}

{% endblock section_links %}

{% block other_section_links %}{% endblock %}
