
<!-- start appointments -->

{% if not appointment %}
	<div class="panel-group">
		<div class="panel panel-warning">
				<div class="panel-heading"><i class="fa fa-calendar fa-lg"></i></span> Schedule</div>
		     		<div class="table table-responsive">
				    <table class="table table-striped table-hover">
					    <tbody>
			    		{% if not appointments %}
			        		<tr><td colspan="8"><i>No appointments scheduled</i></td></tr>
			    		{% else %}
			        		{% for obj in appointments %}
					            <tr>
					            <td>{{obj.visit_code}}</td>
						        <td>{{obj.title}}</td>
								<td>{{obj.appt_datetime|date:"Y-m-d D"| capfirst}}</td>
								<td><a role="button" class="btn btn-sm btn-default" href="{{ obj.get_absolute_url }}?next={{ obj.next_url }}&{{ obj.extra_querystring }}">
									<i class="fa fa-pencil fa-sm" aria-hidden="true"></i> {{ obj.get_appt_status_display | capfirst }}</a></td>
						        <td>
						        {% if obj.appt_status == 'in_progress' %}
						        	{% if obj.visit.id %}
						        		<span class="pull-right">
						        		{% block visit_button_change %}
						        			<a role="button" class="btn btn-sm btn-default" href="{% url dashboard_url appointment=obj.str_pk subject_identifier=subject_identifier %}?{{ obj.next_url }}&{{ obj.extra_querystring }}">
						        				<i class="fa fa-list-alt fa-sm" aria-hidden="true"></i> Forms
						        			</a>
						        		{% endblock visit_button_change %}
						        		</span>
						        	{% else %}
						        		<span class="pull-right">
						        		{% block visit_button_add %}
							        		<a role="button" class="btn btn-sm btn-warning" href="{{ visit_url }}?next={{ obj.visit_next_url }}&appointment={{ obj.str_pk }}">
							        			<i class="fa fa-plus fa-sm" aria-hidden="true"></i> Visit</a>
						        		{% endblock visit_button_add %}
						        		</span>

						        	{% endif %}
						        {% endif %}
						        </td>
					            </tr>
					        {% endfor %}
			    		{% endif %}
			    		</tbody>
				    </table>
				</div>
		</div>
	</div>	    
	{% endif %}

<!-- end appointments -->
