{% extends base_template_name %}
{% load staticfiles %}

{% block main %}
<div class="container">

  <div class="col-md-9">
  
    <div class="panel-group" id="accordion_schedule">
        
        {% if not visit_schedules %}
          <div class="alert alert-warning">
              <i class="fa fa-warning fa-lg fa-fw"></i> Subject is not enrolled to any schedules.
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
                      <a href="#">Schedules</a>
                  </h6>
              </div>
          </div>
        {% endif %}
        
	    {% for visit_schedule in visit_schedules %}
          <div class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
		      <div class="panel-heading">
		          <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
		              <a data-toggle="collapse" data-parent="#accordion_schedule"
		                  href="#visit_schedule{{ forloop.counter }}">{{ visit_schedule.verbose_name }}
		              </a>
		          </h6>
		      </div>
		      <div id="visit_schedule{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">

			  	{% if not appointment %}

					  	{% block appointments %}
					  	{% endblock appointments %}

                {% else %}

		            {% block crfs %}
		            {% endblock crfs %}
	        
		            {% block requisitions %}
		            {% endblock requisitions %}
		        
		        {% endif %}

			  </div>
	       </div>

	    {% endfor %}
    </div>	
  
 </div>

  <div class="col-md-3">
    {% block top_bar%}{% endblock top_bar%}
    {% block side_bar %}{% endblock side_bar%}
  </div>

</div>
{% endblock main %}