{% extends "edc_base/base.html" %}
{% load staticfiles %}

{% block main %}
<div class="container">

  <div class="col-md-12">
    {% block top_bar%}{% endblock top_bar%}
  </div>

  <div class="col-md-3">
    {% block left_side_bar %}{% endblock left_side_bar%}
  </div>

  <div class="col-md-9">
  	{% block appointments %}
  	{% endblock appointments %}

    {% block crfs %}
    {% endblock crfs %}

    {% block requisitions %}
    {% endblock requisitions %}
	</div>

{% block locator_information %}{% endblock locator_information %}

</div>
{% endblock main %}