
<!--  begin paginator -->

{% if page_obj.has_next or page_obj.has_previous %}
 <div style="text-align:center">
 <ul class="pagination pagination-sm">
  <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a  href="{% if listboard_url %}{{ listboard_url }}{% else %}{% url listboard_url_name %}{% endif %}1/{{ querystring }}">
        <i class="fa fa-angle-double-left fa-fw"></i>
    </a>
  </li>
  <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a href="{% if not page_obj.has_previous %}#{% else %}{% if listboard_url %}{{ listboard_url }}{% else %}{% url listboard_url_name %}{% endif %}{{ page_obj.previous_page_number }}/{% endif %}{{ querystring }}">
        <i class="fa fa-angle-left fa-fw"></i>
    </a>
  </li>

  {% for page in paginator.page_range %}
    <li class="{% if page_obj.number == page %}active{% endif %}"><a href="{% if listboard_url %}{{ listboard_url }}{% else %}{% url listboard_url_name %}{% endif %}{{ page }}/{{ querystring }}">{{ page }}</a></li>
  {% endfor %}

  <li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% if not page_obj.has_next %}#{% else %}{% if listboard_url %}{{ listboard_url }}{% else %}{% url listboard_url_name %}{% endif %}{{ page_obj.next_page_number }}/{% endif %}{{ querystring }}">
        <i class="fa fa-angle-right fa-fw"></i>
    </a>
  </li>
  <li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% if listboard_url %}{{ listboard_url }}{% else %}{% url listboard_url_name %}{% endif %}{{ paginator.num_pages }}/{{ querystring }}">
        <i class="fa fa-angle-double-right fa-fw"></i>
    </a>
  </li>
 </ul>
 <div class="text text-muted"><small>
    Showing items {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} found.</small>
 </div>
</div>
{% endif %}
{% if search_term %}
<div style="text-align:center">
	<span class="text small">
	   <a role="button" href="?q=" title="undo search filter"
	       class="btn btn-default btn-sm">
	           <i class="fa fa-undo fa-sm"></i>
	   </a></span>
</div>
{% endif %}
</div>

<!--  end paginator -->
