
<!--  begin paginator -->

{% if page_obj.has_next or page_obj.has_previous %}
 <div style="text-align:center">
 <ul class="pagination pagination-sm">
  <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a  href="{% url listboard_url_name page=1 %}">
        <i class="fa fa-angle-double-left fa-fw"></i>
    </a>
  </li>
  <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a href="{% if not page_obj.has_previous %}#{% else %}{% url listboard_url_name page=page_obj.previous_page_number %}{% endif %}">
        <i class="fa fa-angle-left fa-fw"></i>
    </a>
  </li>

  {% for page in paginator.page_range %}
    <li class="{% if page_obj.number == page %}active{% endif %}"><a href="{% url listboard_url_name page=page %}">{{ page }}</a></li>
  {% endfor %}

  <li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% if not page_obj.has_next %}#{% else %}{% url listboard_url_name page=page_obj.next_page_number %}{% endif %}">
        <i class="fa fa-angle-right fa-fw"></i>
    </a>
  </li>
  <li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% url listboard_url_name page=paginator.num_pages %}">
        <i class="fa fa-angle-double-right fa-fw"></i>
    </a>
  </li>
 </ul>
 <div class="text text-muted"><small>
    Showing items {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} found.</small>
 </div>
</div>
{% endif %}
{% if search_term %}
	<span class="text small">
	   <a role="button" href="?q=" title="undo search filter"
	       class="btn btn-default btn-sm">
	           <i class="fa fa-undo fa-sm"></i>
	   </a></span>
{% endif %}
</div>

<!--  end paginator -->
