{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
{% endblock extra-scripts %}

{% block main %}

<div class="container">
 
    <div class="col-md-8">
        <div class="panel-group" id="accordion">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">Subject <span class="pull-right">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-register" class="btn btn-md btn-default" role="button">Register</a> 
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-search" class="btn btn-md btn-default" role="button">Search</a></span></div>
            <div id="collapse-register" class="panel-collapse collapse">
              <div class="panel-body" id="subject-body">Register</div>
            </div>
            <div id="collapse-search" class="panel-collapse collapse">
              <div class="panel-body" id="subject-body">
 <form>
  <div class="form-group">
    <label for="subject_identifier">Subject Identifier:</label>
    <input type="email" class="form-control" id="subject_identifier">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>              
              </div>
            </div>
            </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#">Consent</div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">Search </div>
             </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#">Enrollment</div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Search </div>
             </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#">Follow-up</div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Search </div>
             </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#">Labs</div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Search </div>
             </div>
          </div>

        </div>        
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Admin</div>
        </div>
    </div>
 
</div>

{% endblock main %}